<div class="main-div">
    <ul class="heroes-list">
        <li *ngFor="let hero of heroes; index as heroId"
            (click)="onSelect(hero)"
            class="hero-item"
            [class.selected] = "hero === selectedHero">
            <span>{{hero.id}}</span> <a [routerLink]="['/hero', heroId]">{{hero.name}}</a>
        </li>
    </ul>

    <div class="add-new-hero">
        <label>
            <input #heroName />
        </label>
        <button (click)="add(heroName.value); heroName.value=''">
            Add a new hero
        </button>
    </div>
    <!-- <div class="selected-hero" *ngIf="selectedHero">
        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedHero.id}}</div>
        <div>
            <label>name:
                <input [(ngModel)]="selectedHero.name" placeholder="name"/>
            </label>
        </div>
    </div> -->

    <!-- Compositing implemetation -->
    <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
</div>