.main-div {
    background-color: grey;
    display: grid;
    grid-template-columns: 2fr 6fr;
    height: 100vh;
}

.navigator-div {
    background-color: aqua;
}

.navigator-div {
    background-color: lightblue;
}